$blue-6: #295286;
$blue-1: mix(white, $blue-6, 25);
$blue-2: mix(white, $blue-6, 20);
$blue-3: mix(white, $blue-6, 15);
$blue-4: mix(white, $blue-6, 10);
$blue-5: mix(white, $blue-6, 5);
$blue-7: mix(black, $blue-6, 5);
$blue-8: mix(black, $blue-6, 10);
$blue-9: mix(black, $blue-6, 15);
$blue-10: mix(black, $blue-6, 20);
$purple-6: #7265e6;
$purple-1: mix(white, $purple-6, 25);
$purple-2: mix(white, $purple-6, 20);
$purple-3: mix(white, $purple-6, 15);
$purple-4: mix(white, $purple-6, 10);
$purple-5: mix(white, $purple-6, 5);
$purple-7: mix(black, $purple-6, 5);
$purple-8: mix(black, $purple-6, 10);
$purple-9: mix(black, $purple-6, 15);
$purple-10: mix(black, $purple-6, 20);
$cyan-6: #00a2ae;
$cyan-1: mix(white, $cyan-6, 25);
$cyan-2: mix(white, $cyan-6, 20);
$cyan-3: mix(white, $cyan-6, 15);
$cyan-4: mix(white, $cyan-6, 10);
$cyan-5: mix(white, $cyan-6, 5);
$cyan-7: mix(black, $cyan-6, 5);
$cyan-8: mix(black, $cyan-6, 10);
$cyan-9: mix(black, $cyan-6, 15);
$cyan-10: mix(black, $cyan-6, 20);
$green-6: #00a854;
$green-1: mix(white, $green-6, 25);
$green-2: mix(white, $green-6, 20);
$green-3: mix(white, $green-6, 15);
$green-4: mix(white, $green-6, 10);
$green-5: mix(white, $green-6, 5);
$green-7: mix(black, $green-6, 5);
$green-8: mix(black, $green-6, 10);
$green-9: mix(black, $green-6, 15);
$green-10: mix(black, $green-6, 20);
$pink-6: #f5317f;
$pink-1: mix(white, $pink-6, 25);
$pink-2: mix(white, $pink-6, 20);
$pink-3: mix(white, $pink-6, 15);
$pink-4: mix(white, $pink-6, 10);
$pink-5: mix(white, $pink-6, 5);
$pink-7: mix(black, $pink-6, 5);
$pink-8: mix(black, $pink-6, 10);
$pink-9: mix(black, $pink-6, 15);
$pink-10: mix(black, $pink-6, 20);
$red-6: #f04134;
$red-1: mix(white, $red-6, 25);
$red-2: mix(white, $red-6, 20);
$red-3: mix(white, $red-6, 15);
$red-4: mix(white, $red-6, 10);
$red-5: mix(white, $red-6, 5);
$red-7: mix(black, $red-6, 5);
$red-8: mix(black, $red-6, 10);
$red-9: mix(black, $red-6, 15);
$red-10: mix(black, $red-6, 20);
$orange-6: #f56a00;
$orange-1: mix(white, $orange-6, 25);
$orange-2: mix(white, $orange-6, 20);
$orange-3: mix(white, $orange-6, 15);
$orange-4: mix(white, $orange-6, 10);
$orange-5: mix(white, $orange-6, 5);
$orange-7: mix(black, $orange-6, 5);
$orange-8: mix(black, $orange-6, 10);
$orange-9: mix(black, $orange-6, 15);
$orange-10: mix(black, $orange-6, 20);
$yellow-6: #ffbf00;
$yellow-1: mix(white, $yellow-6, 25);
$yellow-2: mix(white, $yellow-6, 20);
$yellow-3: mix(white, $yellow-6, 15);
$yellow-4: mix(white, $yellow-6, 10);
$yellow-5: mix(white, $yellow-6, 5);
$yellow-7: mix(black, $yellow-6, 5);
$yellow-8: mix(black, $yellow-6, 10);
$yellow-9: mix(black, $yellow-6, 15);
$yellow-10: mix(black, $yellow-6, 20);
