.radiox {
  .ant-radio-button-wrapper {
    min-width: 100px;
    text-align: center;
  }
  .reload-btn {
    max-width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: white;
    font-size: 12px;
    padding: 3px;
    line-height: 1;
  }
  .ant-input-number {
    margin-left: 15px;
  }
}
