body {
  min-width: 400px;
}
.wrap {
  background: url(../../assets/login_bg.png) no-repeat;
  background-position: left bottom;
  background-size: 50%;
  background-color: #f1f9fc;
  height: 100%;
  overflow: hidden;
  .left-wrap{
    width: 50%;
    height: 100%;
    float: left;
    img{
      margin: 24px 46px;
      height: 42px;
    }
  }
  .right-wrap {
    .right-logo{
      height: 76px;
      background: url(../../assets/login_logo.png) no-repeat left center;
      text-align: center;
      line-height: 76px;
      svg{
        height: 56px;
        width: 76%;
        margin-left: 14%;
      }
    }
    .right-title{
      font-size: 16px;
      text-align: center;
      margin-bottom: 56px;
      color: #7487aa;
      text-indent: 14%;
    }
    width: 30%;
    height: 320px;
    display: inline-block;
    margin-left: 5%;
    margin-top: 10%;
    border-radius: 3px;
    color: #8e97a9;
  }
}
