.inner-path {
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
.has-inner {
  .ant-btn {
    margin-right: 15px;
    width: 26px;
    height: 26px;
    color: #2196f3;
  }
  .location-text {
    font-size: 12px;
    font-weight: normal;
  }
}
