.table-action {
  text-align: center;
}

p {
  margin: 0;
}

.ant-popover-title {
  padding: 3px 8px 0;
  min-height: 0;
  border: none;
}

.ant-popover-inner-content {
  padding: 3px 8px;
  font-size: 12px;
}