.terminal-box {
  .d-dialog {
    border-radius: 0px;
    width: 1050px;
    .result {
      &-ok {
        color: #009688;
      }

      &-wrong {
        color: red;
      }
    }
    &-header {
      padding: 10px;
      padding-left: 10px;
      line-height: 1;
      background: white;
      height: auto;

      .v-icon {
        margin-right: 3px;
      }

      .icon-close {
        line-height: 33px;
        padding-right: 10px;
      }
    }

    &-body {
      .result {
        font-weight: bold;
        margin: 5px 0;
        &-ok {
          color: green;
        }
      }

      .bar {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .terminal-box {
    .d-dialog {
      border-radius: 0px;
      width: 600px;
    }
  }
}

.hide-close {
  .d-dialog-header {
    .icon-close {
      visibility: hidden;
    }
  }

  .d-dialog-body {
    .bar {
      height: 40px;
      width: 100%;

      &::before {
        content: "";
        width: 2px;
        height: 16px;
        display: block;
        animation: inputLight 1s infinite;
        -webkit-animation: inputLight 1s infinite;
      }
    }
  }
}

@keyframes inputLight {
  0% {
    background: #dadada;
  }

  50% {
    background: #ccc;
  }

  80% {
    background: #ccc;
  }

  100% {
    background: black;
  }
}

@-webkit-keyframes inputLight {
  0% {
    background: #dadada;
  }

  50% {
    background: #ccc;
  }

  80% {
    background: #ccc;
  }

  100% {
    background: black;
  }
}
