<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="app"></div>
  <!--polyfills.js -->
  <script src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
  <!--lib.js -->
  <script src="<%= htmlWebpackPlugin.options.lib %>"></script>
  <!--app.js -->
  <script src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
</body>

</html>
