.about-title {
  text-align: right;
}
.about-logo {
  text-align: right;
  padding-right: 68px;
  margin-top: 100px;
  img {
    height: 40px;
  }
}
.about-info {
  text-align: right;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.row-margin {
  margin: 26px 0;
  font-weight: bold;
}
.about-modal {
  background-color: white;
  padding-bottom: 0px;
  .ant-modal-content {
    background: url('../../assets/about-bg.jpg') no-repeat center bottom;
    background-size: cover;
  }
}
.sys-anchor {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 16px;
  li {
    padding: 20px 30px;
    cursor: pointer;
  }
  li.active {
    background-color: #fff;
  }
}
.sys-modal {
  .ant-modal-content .ant-modal-body {
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    // background-color: #eaf2f5;
    // padding: 0;
  }
}
#configContainer {
  position: relative;
}
