.d-carousel1 {
  position: relative;
  overflow: hidden;
  min-width: 100px;

  &-wrapper {
    position: relative;
    white-space: nowrap;
    left: 0;
    transition: 300ms left ease-in;
  }

  &-item {
    display: inline-block;
    min-width: 100px;
  }

  &-prev,
  &-next {
    position: absolute;
    width: 20px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    background: #108ee9;
    color: white;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    z-index: 5;
    transform: all ease 0.3s;

    &:hover {
      background: #106fc1;
      color: white
    }
  }

  &-prev {
    left: 0;
  }

  &-next {
    right: 0;
  }

  i.disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
  }
}
