.vmBg {
  width: 54px;
  background-color: #758b9e;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  height: 26px;
  line-height: 26px;
}
.lock {
  color: #295686;
}
.can-use {
  color: #dd1d19;
}
