.table-action {
  text-align: center;
}
th.opration {
  display: none;
}
.no-select-bg
  .ant-table-tbody
  > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
  > td {
  background: none;
}
.ant-table-tbody tr {
  &:hover {
    td.opration {
      display: block;
    }
  }
  td.opration {
    display: none;
    position: absolute;
    right: 0;
    background: blue;
    height: 54px;
    line-height: 54px;
    padding: 0;
    padding-left: 60%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(187, 208, 229, 0.7) 40%,
      #427abf 100%
    ) !important;
    .ant-btn,
    .v-icon {
      color: white;
      vertical-align: middle;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 18px;
    }
  }
}

p {
  margin: 0;
}

.ant-popover-title {
  padding: 3px 8px 0;
  min-height: 0;
  border: none;
}

.ant-popover-inner-content {
  padding: 3px 8px;
  font-size: 12px;
}
