.user-btn {
  padding: 5px 20px;
  position: relative;
  border: 1px dashed rgb(245, 0, 0);
  display: inline-block;
  margin-right: 10px;
  .ant-btn {
    position: absolute;
    right: -5px;
    top: -10px;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    background: red;
  }
}
