@keyframes vLoadingCircle {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(0deg);
  }

  100% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}

@keyframes vUpgradeUp {
  0% {
    transform: translateY(3px);
  }

  50% {
    transform: translateY(0px);
  }

  90% {
    opacity: 0.8;
    transform: translateY(-3px);
  }

  100% {
    opacity: 0.2;
    transform: translateY(-4px);
  }
}

@keyframes vSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0.8);
  }

  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: scaleY(1);
  }
}

@keyframes vSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}

@keyframes vSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }

  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}

@keyframes vSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}

@keyframes buttonEffect {
  100% {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    border-width: 6px;
    opacity: 0.4;
  }
}

@keyframes progressActive {
  0% {
    width: 0%;
    opacity: 0.3;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
