@font-face {font-family: "iconfont";
    src: url('./fonts/iconfont.eot?t=1576832262030'); /* IE9 */
    src: url('./fonts/iconfont.eot?t=1576832262030#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/iconfont.woff?t=1576832262030') format('woff'),
    url('./fonts/iconfont.ttf?t=1576832262030') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('./fonts/iconfont.svg?t=1576832262030#iconfont') format('svg'); /* iOS 4.1- */
  }
  .svgicon {
    width:1.5em;
    height: 1.5em;
    vertical-align: sub;
    fill: currentColor;
    overflow: hidden;
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  .icon-biaoji:before {
    content: "\e630";
  }
  
  .icon-new:before {
    content: "\e63c";
  }
  
  .icon-wancheng:before {
    content: "\e844";
  }
  
  .icon-lingdao:before {
    content: "\e614";
  }
  
  .icon-drxx53:before {
    content: "\e706";
  }
  
  .icon-nan:before {
    content: "\e6ef";
  }
  
  .icon-nv:before {
    content: "\e6f0";
  }
  
  .icon-not_started:before {
    content: "\e60c";
  }
  
  .icon-cuowu:before {
    content: "\e605";
  }
  
  .icon-daochu:before {
    content: "\e634";
  }
  
  .icon-kaoqinyichang:before {
    content: "\e622";
  }
  
  .icon-stop:before {
    content: "\eae1";
  }
  
  .icon-zanting:before {
    content: "\eaea";
  }
  
  .icon-daichulidingdan:before {
    content: "\e640";
  }
  
  .icon-shaixuan:before {
    content: "\e659";
  }
  
  .icon-daishenpiliebiao-:before {
    content: "\e631";
  }
  
  .icon-xiazai:before {
    content: "\e61d";
  }
  
  .icon-bj-tjhz:before {
    content: "\e81d";
  }
  
  .icon-time:before {
    content: "\e670";
  }
  
  .icon-ic_jinhangzhong:before {
    content: "\e68f";
  }
  
  .icon-refresh:before {
    content: "\e6ce";
  }
  
  .icon-zhoubaoS:before {
    content: "\e651";
  }
  
  .icon-gonghao:before {
    content: "\e61b";
  }
  
  .icon-mima:before {
    content: "\e61c";
  }
  
  .icon-welcome:before {
    content: "\e61e";
  }
  
  .icon-caidan:before {
    content: "\e61f";
  }
  
  .icon-chakan:before {
    content: "\e620";
  }
  
  .icon-shanchu:before {
    content: "\e621";
  }
  
  .icon-shezhi:before {
    content: "\e623";
  }
  
  .icon-xiugai:before {
    content: "\e624";
  }
  
  .icon-tuichu:before {
    content: "\e625";
  }
  
  .icon-yonghu:before {
    content: "\e626";
  }
  
  .icon-wodejiaban:before {
    content: "\e627";
  }
  
  .icon-woderenwu:before {
    content: "\e628";
  }
  
  .icon-wodekaoqin:before {
    content: "\e629";
  }
  
  .icon-bianjiebangong:before {
    content: "\e62a";
  }
  
  .icon-gongzuoliucheng:before {
    content: "\e62b";
  }
  
  .icon-users:before {
    content: "\e62c";
  }
  
  .icon-tasks:before {
    content: "\e62d";
  }
  