// @import '../styles/default.scss';
body {
  min-width: 1200px;
  overflow-x: auto;
}
.mr10 {
  margin-right: 10px;
}
.ant-layout {
  background: #eff0f5;
  &-sider-children {
    border-right: 1px solid #dedede;
  }

  // 适配IE菜单背景颜色缺失
  &-has-sider {
    overflow: hidden;
  }
}
// header

.header {
  background-color: #262c4a;
  color: white;
  height: 50px;
  padding: 0 20px;
  background-image: url(../assets/header_mask.png);
  background-repeat: no-repeat;
  background-position: 90% bottom;
  .count-onprogress .ant-badge-count {
    background-color: #52c41a;
  }
  .drop-item {
    padding: 0 0 0 10px;
  }
  .drop-item.active {
    background: #1565c0;
  }
  &-drop-list {
    max-width: 400px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
      0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
    .ant-tabs-nav-wrap {
      text-align: center;
    }

    .ant-list-item {
      position: relative;
      padding: 12px 24px;
      transition: all ease 0.3s;
      min-height: 78px;
      cursor: pointer;
      &-meta-description {
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
    .list-more-btn {
      height: 50px;
      line-height: 50px;
      border: none;
      border-top: 1px solid #d9d9d9;
      width: 100%;
      display: block;
      text-align: center;
    }
    .ant-tabs .ant-tabs-bottom-content,
    .ant-tabs .ant-tabs-top-content {
      max-height: 500px;
      overflow-y: auto;
    }
  }
  .logo {
    width: 214px;
    height: 50px;
    background: url('../assets/logo-white.png') no-repeat center;
    padding-left: 200px;
    float: left;
    .text {
      background: url('../assets/logo-title.png') no-repeat center;
      text-indent: -9999px;
      overflow: hidden;
      width: 300px;
      height: 50px;
      display: inline-block;
    }
  }
  .ant-menu {
    float: right;
    line-height: 50px;
    color: white;
    width: auto;
    min-width: 130px;
    background: transparent;
    .ant-menu-item {
      padding: 0 10px;
      &:hover,
      &-selected {
        color: #ddd;
        border-bottom-color: transparent;
      }
      a,
      .anticon {
        color: white;
        font-size: 17px;
      }
    }
    .no-padding {
      padding: 0;
    }
    .ant-badge-count {
      min-width: auto;
      height: 16px;
      line-height: 16px;
      padding: 0 5px;
    }
  }
}
.ant-menu-submenu-popup {
  .ant-menu-item > a {
    display: inline-block;
  }
}
// Sider
.sider {
  background: white;

  // 适配IE菜单背景颜色缺失
  min-height: 100%;
  padding-bottom: 9000px;
  margin-bottom: -9000px;
  min-width: 46px !important;
  flex: 0 0 46px !important;
  .trigger {
    width: 100%;
    background: #fefefe;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .ant-menu {
    background: transparent;
    border-right: none;

    .ant-menu-item {
      height: 46px;
      line-height: 46px;
      margin: 0px;
      a {
        display: inline-block;
        font-size: 14px;
      }
      &::after {
        display: none;
      }
    }
    .ant-menu-submenu-title {
      cursor: default;
    }
    .ant-menu-submenu .text {
      font-size: 14px;
    }

    .ant-menu-item-selected {
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 50px;
        background: #1890ff;
      }
    }
    &:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: #e1edfb;
    }
  }
  .ant-menu-inline-collapsed {
    .ant-menu-item .text,
    .ant-menu-submenu .text {
      visibility: hidden;
    }
  }
  .ant-menu-inline-collapsed > .ant-menu-item .anticon {
    font-size: 18px;
  }
  .trigger {
    height: 50px;
    line-height: 50px;
  }
  .ant-menu-item .v-icon,
  .ant-menu-submenu .v-icon,
  .ant-menu-item .anticon,
  .ant-menu-submenu .anticon {
    min-width: 14px;
    margin-right: 15px;
    font-size: 18px;
    -webkit-transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
      margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: font-size 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
      margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

//content
.ant-layout-content {
  position: relative;
}

//Compontent
// InnerPath

//detail
.dms-detail-section {
  padding-bottom: 40px;
}

.dms-detail-row {
  margin-top: 10px;
}

.dms-detail-label {
  text-align: right;
  padding-left: 10px;
}

.dms-detail-value {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 20px;

  .anticon {
    display: inline;
  }

  .v-icon {
    display: inline;
  }
}
.dms-detail-list-hasPagination {
  .ant-table-pagination.ant-pagination {
    float: left;
  }
}

//进度条progress
.ant-progress-show-info .ant-progress-outer {
  margin-right: 0 !important;
  padding-right: 0 !important;
  .ant-progress-inner {
    background-color: #eff0f5;
  }
}
.ant-progress-text {
  position: relative;
  width: 100% !important;
  margin-left: -100% !important;
  text-align: center !important;
}
.ant-progress-status-active .ant-progress-bg {
  background-color: #b5e8a4 !important;
}
.ant-progress-status-exception .ant-progress-bg {
  background-color: #fb8087 !important;
}
.ant-progress-status-exception .ant-progress-text {
  color: #838487 !important;
}
.ant-input-number-handler-wrap {
  opacity: 1 !important;
}
// 下拉框多选时去掉hover时的勾
.ant-select-dropdown.ant-select-dropdown--multiple
  .ant-select-dropdown-menu-item:hover
  .ant-select-selected-icon {
  color: transparent !important;
}
.table-icon {
  &-info {
    color: #1890ff;
  }
  &-msg {
    color: #faad14;
  }
  &-warn {
    color: #f56a00;
  }
  &-alert {
    color: #f5222d;
  }
}

.ant-table-row-cell-ellipsis {
  .ant-tag {
    margin: 0;
  }
}

.ellipsis-noWhiteSpace {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-hasTag {
  text-overflow: clip;
}
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.form-item-wrapper {
  .ant-col.ant-form-item-label {
    width: 100%;
    right: 0;
    text-align: left;
  }
  .ant-col.ant-form-item-control-wrapper {
    width: 100% !important;
  }
}

.ant-switch:hover {
  &:after {
    box-shadow: 0 0 16px #666;
  }
}
.ant-switch.ant-switch-checked:hover {
  &:after {
    box-shadow: 0 0 16px #1890ff;
  }
}

.option-wrap .ant-btn,
.table-tool .bar-left .ant-btn {
  overflow: hidden;

  &::after {
    content: '';
    width: 30px;
    height: 500%;
    background: #a6d4ff;
    position: absolute;
    display: block;
    top: -33px;
    opacity: 0.5;
    left: -100px;
    transform: rotate(-45deg);
  }
  &:hover {
    transition-delay: 0.5s;
    transition: all ease-in-out 0.5s;
  }
  &:hover::after {
    left: 100px;
    top: -63px;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }
}

.shortcut-button {
  position: fixed;
  right: 0;
  top: 30%;
  height: 36px;
  width: 36px;
  padding: 0;
  text-align: center;
  z-index: 1001;
}

.shortcut-drawer.ant-drawer-open .ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0.45);
}

.shortcut-drawer .ant-drawer-body {
  padding: 16px 24px;
}

.shortcut-drawer-steps {
  padding: 0 10px;

  .ant-steps-item-finish
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #faad14;
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail:after {
    background: #faad14;
  }
}

.shortcut-drawer-steps-title {
  font-size: 16px;
  margin-bottom: 5px;
}
