// @import '../styles/default.scss';
body {
  min-width: 1000px;
  overflow-x: auto;
}
.mr10 {
  margin-right: 10px;
}
.ant-layout {
  background: #eff0f5;
  // 适配IE菜单背景颜色缺失
  &-has-sider {
    width: 100%;
    min-height: calc(100% - 50px);
    padding-top: 50px;
    // position: absolute;
    // overflow: hidden;
    width: 100%;
  }
  &-content {
    padding: 20px;
    margin-left: 200px;
  }
}
// header
@media screen and (max-width: 750px) {
  .header .logo {
    display: none;
  }
}
.header {
  background-color: #262c4a;
  color: white;
  height: 50px;
  width: 100%;
  z-index: 2;
  padding: 0 20px;
  position: fixed;
  background-image: url(../assets/header_mask.png);
  background-repeat: no-repeat;
  background-position: 100% bottom;
  .logo {
    width: 214px;
    height: 50px;
    background: url('../assets/logo-white.png') no-repeat 0 center;
    padding-left: 200px;
    background-size: 80%;
    float: left;
    .text {
      background: url('../assets/logo-title.png') no-repeat 0 center;
      text-indent: -9999px;
      overflow: hidden;
      width: 300px;
      height: 50px;
      background-size: 60%;
      display: inline-block;
    }
  }
  &::after {
    position: absolute;
    content: '';
    // width: 100%;
    height: 50px;
  }
  .ant-menu {
    float: right;
    line-height: 50px;
    color: white;
    width: auto;
    min-width: 130px;
    background: transparent;
    top: -1px;
    border-bottom: none;
    &-item {
      padding: 0 15px;
      &:hover,
      &-selected,
      &-active {
        color: #ddd;
        border-bottom-color: transparent;
      }
      a,
      .anticon {
        margin-right: 0;
        color: white;
        font-size: 17px;
      }
    }
    .ant-badge-count {
      min-width: auto;
      height: 16px;
      line-height: 16px;
      padding: 0 5px;
    }
    &-submenu-popup {
      .ant-menu-item > a {
        display: inline-block;
      }
    }
  }
  .count-onprogress .ant-badge-count {
    background-color: #52c41a;
  }

  &-drop-list {
    max-width: 400px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
      0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
    .ant-tabs-nav-wrap {
      text-align: center;
    }

    .ant-list-item {
      position: relative;
      padding: 12px 24px;
      transition: all ease 0.3s;
      min-height: 78px;
      cursor: pointer;
      &-meta-description {
        word-break: break-all;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
    }
    .list-more-btn {
      height: 50px;
      line-height: 50px;
      border: none;
      border-top: 1px solid #d9d9d9;
      width: 100%;
      display: block;
      text-align: center;
    }
    .ant-tabs .ant-tabs-bottom-content,
    .ant-tabs .ant-tabs-top-content {
      max-height: 500px;
      overflow-y: auto;
    }
  }
}

// Sider
.ant-menu-inline-collapsed-tooltip {
  display: none;
}
.ant-layout-sider-collapsed {
  .submenu-1 {
    left: 46px !important;
  }
  & + .ant-layout {
    .ant-layout-content {
      margin-left: 46px;
      &.has-submenu {
        margin-left: 226px;
      }
    }
  }
}
.sider {
  z-index: 3;
  position: fixed;
  background: #f7f8fa;
  // 适配IE菜单背景颜色缺失
  min-height: 100%;
  padding-bottom: 9000px;
  margin-bottom: -9000px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
  .ant-btn {
    padding: 0px;
    color: inherit;
  }

  .trigger {
    width: 100%;
    background: #fefefe;
    border: none;
    border-bottom: 1px solid #eeeff0;
    line-height: 46px;
    height: 46px;
<<<<<<< Updated upstream
=======
    // display: none;
>>>>>>> Stashed changes
  }
  .ant-menu {
    background: transparent;
    border-right: none;
    &-inline-collapsed {
      width: 46px;
      text-align: center;
      .ant-menu-item .text,
      .ant-menu-submenu .text {
        visibility: hidden;
      }
    }
    .ant-menu-item {
      height: 46px;
      line-height: 46px;
      margin: 0px;
      overflow: inherit;
      border-bottom: 1px solid #eeeff0;
      padding: 0 !important;
      a {
        color: #525353;
        & .v-icon,
        & .ant-icon {
          font-size: 14px;
        }
      }
      &-selected,
      &:hover {
        background-color: #4a7bff;
        border-bottom-color: #4a7bff;
        & > a,
        & > span {
          color: white;
        }
      }
      &:hover {
        background: #4675f2;
        border-bottom-color: #4675f2;
      }
      &-selected {
        .submenu-1 {
          display: block !important;
        }
      }

      // 二级目录
      .submenu-1 {
        background: white;
        bottom: 0;
        display: block;
        left: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 50px;
        width: 184px;
        padding-left: 20px;
        border: 1px solid #eeeff0;
        border-top: none;
        border-bottom: none;
        display: none;
        text-align: left;
        color: #292929;
        transition: all ease 0.3s;
        letter-spacing: 1px;
        .ant-menu-item {
          border: none;
          line-height: 38px;
          height: 38px;
          &-active,
          &-selected {
            background-color: transparent;
            > a {
              color: #4a7bff;
            }
          }
        }
        h3 {
          line-height: 58px;
          font-weight: 700;
          font-size: 16px;
          margin: 0;
          border-bottom: 1px solid #eeeff0;
        }
        i {
          display: none;
        }
        .text {
          visibility: visible;
          opacity: 1;
        }
      }
      &-active {
        background: #4a7bff;
        color: white;
        a:hover {
          color: white;
        }
        .submenu-1 {
          z-index: 9999;
          display: block;
        }
      }
    }
  }
}

//content
.main-wrap {
  padding: 20px;
  background: white;
  border-radius: 4px;
}
.ant-layout-content {
  position: relative;
}

//Compontent
// InnerPath

//detail
.dms-detail-section {
  padding-bottom: 40px;
}

.dms-detail-row {
  margin-top: 10px;
}

.dms-detail-label {
  text-align: right;
  padding-left: 10px;
}

.dms-detail-value {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 20px;

  .anticon {
    display: inline;
  }

  .v-icon {
    display: inline;
  }
}
.dms-detail-list-hasPagination {
  .ant-table-pagination.ant-pagination {
    float: left;
  }
}

//进度条progress
.ant-progress-show-info .ant-progress-outer {
  margin-right: 0 !important;
  padding-right: 0 !important;
  .ant-progress-inner {
    background-color: #eff0f5;
  }
}
.ant-progress-text {
  position: relative;
  width: 100% !important;
  margin-left: -100% !important;
  text-align: center !important;
}
.ant-progress-status-active .ant-progress-bg {
  background-color: #b5e8a4 !important;
}
.ant-progress-status-exception .ant-progress-bg {
  background-color: #fb8087 !important;
}
.ant-progress-status-exception .ant-progress-text {
  color: #838487 !important;
}
.ant-input-number-handler-wrap {
  opacity: 1 !important;
}
// 下拉框多选时去掉hover时的勾
.ant-select-dropdown.ant-select-dropdown--multiple
  .ant-select-dropdown-menu-item:hover
  .ant-select-selected-icon {
  color: transparent !important;
}
.table-icon {
  &-info {
    color: #1890ff;
  }
  &-msg {
    color: #faad14;
  }
  &-warn {
    color: #f56a00;
  }
  &-alert {
    color: #f5222d;
  }
}

.ant-table-row-cell-ellipsis {
  .ant-tag {
    margin: 0;
  }
}

.ellipsis-noWhiteSpace {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-hasTag {
  text-overflow: clip;
}
.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.form-item-wrapper {
  .ant-col.ant-form-item-label {
    width: 100%;
    right: 0;
    text-align: left;
  }
  .ant-col.ant-form-item-control-wrapper {
    width: 100% !important;
  }
}

.ant-switch:hover {
  &:after {
    box-shadow: 0 0 16px #666;
  }
}
.ant-switch.ant-switch-checked:hover {
  &:after {
    box-shadow: 0 0 16px #1890ff;
  }
}

.option-wrap .ant-btn,
.table-tool .bar-left .ant-btn {
  overflow: hidden;

  &::after {
    content: '';
    width: 30px;
    height: 500%;
    background: #a6d4ff;
    position: absolute;
    display: block;
    top: -33px;
    opacity: 0.5;
    left: -100px;
    transform: rotate(-45deg);
  }
  &:hover {
    transition-delay: 0.5s;
    transition: all ease-in-out 0.5s;
  }
  &:hover::after {
    left: 100px;
    top: -63px;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }
}

.shortcut-button {
  position: fixed;
  right: 0;
  top: 30%;
  height: 36px;
  width: 36px;
  padding: 0;
  text-align: center;
  z-index: 1001;
}

.shortcut-drawer.ant-drawer-open .ant-drawer-mask {
  background-color: rgba(0, 0, 0, 0.45);
}

.shortcut-drawer .ant-drawer-body {
  padding: 16px 24px;
}

.shortcut-drawer-steps {
  padding: 0 10px;

  .ant-steps-item-finish
    .ant-steps-item-icon
    > .ant-steps-icon
    .ant-steps-icon-dot {
    background: #faad14;
  }

  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail:after {
    background: #faad14;
  }
}

.shortcut-drawer-steps-title {
  font-size: 16px;
  margin-bottom: 5px;
}
