@import '../styles/default.scss';
body {
  overflow-x: hidden;
}
.mr10 {
  margin-right: 10px;
}
// header
.header {
  background-color: $primary-color;
  color: white;
  height: 55px;
  padding: 0 20px;
  .logo {
    width: 214px;
    height: 55px;
    background: url('../assets/logo-white.png') no-repeat center;
    padding-left: 200px;
    float: left;
    .text {
      background: url('../assets/logo-title.png') no-repeat center;
      text-indent: -9999px;
      overflow: hidden;
      width: 300px;
      height: 55px;
      display: inline-block;
    }
  }
  .ant-menu {
    float: right;
    line-height: 55px;
    color: white;
    width: auto;
    min-width: 360px;
    background: transparent;
    .ant-menu-item {
      padding: 3px;
      &:hover,
      &-selected {
        color: #ddd;
        border-bottom-color: transparent;
      }
    }
  }
}
.ant-menu-submenu-popup {
  .ant-menu-item > a {
    display: inline-block;
  }
}
// Sider
.sider {
  background: white;
  .trigger {
    width: 100%;
    background: #fefefe;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .ant-menu {
    background: transparent;
    border-right: none;

    .ant-menu-item {
      height: 50px;
      line-height: 50px;
      margin: 0px;
      a {
        display: inline-block;
        font-size: 16px;
      }
      &::after {
        display: none;
      }
    }

    &:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background: #bbd0e5;
    }
  }
  .ant-menu-inline-collapsed {
    .ant-menu-item > .text {
      visibility: hidden;
    }
  }
  .trigger {
    height: 50px;
    line-height: 50px;
  }
}

//content
.ant-layout-content {
  position: relative;
  .table-wrap {
    padding: 10px 20px;
    margin: 0px 20px;
    background: white;
    .ant-table-thead > tr > th {
      background-color: #e1e2e7;
      color: #6d6e6d;
      font-size: 16px;
      font-weight: normal;
      padding: 10px;
      border-right: 1px solid $btn-border-color;
    }
    .ant-table-thead > tr:first-child > th:first-child,
    .ant-table-thead > tr:first-child > th:last-child {
      border-radius: 0;
    }
    .ant-table-thead > tr:first-child > th:last-child {
      border-right: none;
    }
  }
  .table-tool {
    padding: 10px 0px 15px 0px;
    .ant-btn {
      padding: 0px 30px;
      background-color: #efefef;
      border-radius: $border-radius-base;
      height: 35px;
      line-height: 35px;
    }
    .ant-calendar-picker {
      .ant-calendar-picker-input {
        height: 37px;
        border-radius: $border-radius-base;
        width: 260px;
        text-align: left;
      }
    }

    .select-search {
      max-width: 400px;
      margin-left: 30px;
      border-radius: $border-radius-base;
      border: 1px solid $btn-border-color;
      display: inline-flex;
      .ant-input,
      .ant-select-selection {
        border: none;
      }
      .ant-select {
        flex: 1;
      }
      .ant-input-search {
        flex: auto;
      }
      .ant-btn {
        background-color: transparent;
        border: none;
        color: #333;
      }
    }
  }
  .ant-drawer-open {
    width: 100% !important;
  }
  .ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
    box-shadow: none;
    min-height: 80vh;
  }
}

//drawerx
.drawerx {
  .option-bar {
    background: red;
  }
}

//Compontent
// InnerPath
.inner-path {
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}
