@import '../styles/default.scss';
body {
  overflow-x: hidden;
}
.mr10 {
  margin-right: 10px;
}
// Sider
.sider {
  background: white;
  .trigger {
    width: 100%;
    background: #fefefe;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  .ant-menu {
    background: transparent;
    border-right: none;
  }
  .ant-menu-item > a {
    display: inline-block;
  }
  .ant-menu-inline-collapsed {
    .ant-menu-item > a {
      display: none;
    }
  }
}
// header
.header {
  background-color: $primary-color;
  color: white;
  .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }
  .ant-menu {
    float: right;
    line-height: 64px;
    color: white;
    background: transparent;
    .ant-menu-item {
      padding: 3px;
      &:hover,
      &-selected {
        color: #ddd;
        border-bottom-color: transparent;
      }
    }
  }
}
.ant-menu-submenu-popup {
  .ant-menu-item > a {
    display: inline-block;
  }
}
//content
.ant-layout-content {
  margin: 20px;
  background: white;
  padding: 10px 20px;
}
